* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:url(/img/pexels-pixabay-220182.jpg) #000;
    background-size: cover;
    color: white;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget {
    width: 40%;
    margin: 2em;
    background-color: #fff;
    padding: 3px;
    box-shadow: 4px 6px 5px 1px rgba(0, 0, 0, .4);
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.2rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos, 
.reloj .ampm {
    font-size: 2rem;
    display: block;
}